@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.btn__property {
    border-radius: 6px;
    border: 1px solid;
    outline: none;
    color: $primary-color;
    border-color: $primary-color;
    background-color: $text-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    transition: opacity 0.2s ease-in-out;

    .check__icon {
        color: $light-blue;
        height: 20px;
        width: 20px;

        @include desktop {
            height: 30px;
            width: 30px;
        }
    }

    @include desktop {
        height: 50px;
        font-size: 1rem;
    }
}

.not__selected {
    opacity: 0.5;

    .check__icon {
        color: $grey;
    }
}