@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.form__container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 60px;
        padding: 40px;
    }
}

.step__content__container{
    padding: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
        outline: none;
        border-color: #007bff;
    }
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

.div__property__selection {
    display: flex;
    gap: 30px;
    margin: 20px 0;
    font-size: 0.5rem;
}

.h2{
    color: $primary-color;
    font-size: 1rem;
    
}

