@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.form__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include desktop {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.step__content__container {
    padding: 20px;
    height: 90vh;

    @include desktop {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
    }
}


.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
        outline: none;
        border-color: #007bff;
    }
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

.div__property__selection {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 0.5rem;
    width: 100%;
}

.h2 {
    color: $primary-color;
    font-size: 1rem;

    @include desktop {
        font-size: 1.5rem;
    }

}

.stepper__navigation__container {
    margin-top: auto;
}

.confirmation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__confermation {
    color: $primary-color;
    margin-top: 20px;
    text-align: center;
}

.errorMessage {
    color: $cta-color;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}


.main__content__wrapper {
    flex-grow: 1;

    @include desktop {
        display: flex;
        flex-direction: row;
    }
}


.vertical__sidebar {
    display: none;

    @include desktop {

        background: azure;
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.step__content__wrapper {
    margin: 0 auto;
    flex-grow: 1;
}