@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.icon__wrapper__minus {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: $primary-desaturated;

    @include desktop {
        height: 35px;
        width: 35px;
    }

}

.icon__wrapper__plus {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: $primary-desaturated;
    background-color: $beige;

    @include desktop {
        height: 35px;
        width: 35px;
    }

}

.increment__decrement__wrapper {
    border-radius: 6px;
    outline: none;
    color: $primary-color;
    background-color: $text-color;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    padding: 5px 15px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.counter__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    color: $primary-color;

    @include desktop {
        margin: 20px 0;
    }
}

.label {
    color: $primary-color;
    font-size: 1rem;
    font-weight: 500;
    font-size: 0.8rem;

    @include desktop {
        font-size: 1.3rem;
    }
}