@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
display: flex;
flex-direction: column;


    @include desktop {
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       
    }
}