@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
<<<<<<< HEAD
display: flex;
flex-direction: column;


    @include desktop {
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       
    }
}
=======
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}


>>>>>>> origin/frontend/mobile_homepage
