@use "../../styles/variables.scss" as *;

.footer {
  position: relative;
  z-index: 1;
  background-color: $primary-color;
  color: white;
  text-align: center;



  &__content {
    padding: 30px 16px 10px 16px;

  }

  &__info {
    display: flex;
    flex-direction: row;

    margin-bottom: 16px;
    gap: 90px;
    justify-content: center;


  }

  &__links, &__contacts {

    h4 {
      font-size: 14px;
      margin-bottom: 8px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 12px;
      li {
        margin-bottom: 2px;

      }
    }
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
      margin: 4px 0;
      font-size: 12px;

    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

  }

  &__social {

    h4 {
      font-size: 14px;
      margin-bottom: 8px;
    }
    &Icons {
      display: flex;
      justify-content: center;
      gap: 24px;
    }
  }

  &__copyright {
    font-size: 6px;
    color: white;
    padding-top: 22px;
    padding-bottom: 12px;
  }

  &__divider {
    border: none;
  height: 1px;
  background-color: white;

  width: 100%;
  }
}
.icon__circle {
    width: 34px;
  height: 34px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer__logo {
    text-align: center;

    .logoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin-bottom: 8px;
    }

    img {
        width: 80px;
        height: auto;
        display: block;
        margin: 0;
        padding: 0;
    }
    .logoText {
        font-size: 16px;
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    p {
      font-size: 14px;
      margin: 0 auto 16px;
    }
  }