@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.footer {
  position: relative;
  z-index: 1;
  background-color: $primary-color;
  color: white;
  text-align: center;
  width: 100%;

  &__content {
    padding: 30px 16px 10px 16px;

    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
      padding: 60px 80px 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;

    margin-bottom: 16px;
    gap: 90px;
    justify-content: center;

    @include desktop {
      align-items: flex-start;
      margin-top: -36px;
      justify-content: right;
      gap: 120px;
    }
  }

  &__links,
  &__contacts {
    h4 {
      font-size: 14px;
      margin-bottom: 8px;
      text-align: center;

      @include desktop {
        font-size: 16px;
        text-align: left;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 12px;

      @include desktop {
        font-size: 16px;
      }

      li {
        margin-bottom: 2px;
      }
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      margin: 4px 0;
      font-size: 12px;
      @include desktop {
        font-size: 16px;
        justify-content: flex-start;
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social {
    @include desktop {
      position: absolute;
      bottom: 100px;
      left: 80px;
    }

    h4 {
      font-size: 14px;
      margin-bottom: 8px;

      @include desktop {
        font-size: 16px;
      }
    }
    &Icons {
      display: flex;
      justify-content: center;
      gap: 24px;
    }
  }

  &__copyright {
    font-size: 6px;
    color: white;
    padding-top: 22px;
    padding-bottom: 12px;

    @include desktop {
      font-size: 10px;
    }
  }

  &__divider {
    border: none;
    height: 1px;
    background-color: white;

    width: 100%;
  }
}
.icon__circle {
  width: 34px;
  height: 34px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer__logo {
  text-align: center;

  @include desktop {
    text-align: left;
    margin-top: -25px;
    margin-bottom: 0;
    flex: 1;
    margin-right: 80px;
  }

  .logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 8px;

    @include desktop {
      align-items: flex-start;
    }
  }

  img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
  }
  .logoText {
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  p {
    font-size: 14px;
    margin: 0 auto 16px;

    @include desktop {
      font-size: 18px;
    }
  }
}
.footer__address {
  display: none !important; // hidden for mobile

  @include desktop {
    display: block !important; // shows for desktop
    align-items: flex-start;

    svg {
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;
      margin-right: 6px;
    }
  }
}
