@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss"  as *;


.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.75rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  z-index: 10;

  h2 {
    font-size: 1rem;
    font-weight: 600;
    color: $primary-color;
    text-align: center;
    margin: 0;
  }

  .back__btn {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $primary-color;
    font-size: 1.25rem;
    line-height: 1;

    transition: opacity 0.2s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
      outline: none;
    }

    svg {
      width: 20px;
      height: 20px;
      stroke-width: 2.5;
    }
  }
}

// @include tablet {
//   .header {
//     padding: 1rem 1.5rem;

//     h2 {
//       font-size: 1.25rem;
//     }

//     .backBtn {
//       left: 1.5rem;
//       svg {
//         width: 22px;
//         height: 22px;
//       }
//     }
//   }
// }


@include desktop {
  .header__form {
    display: none;
    }
  }
