@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss"  as *;


.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.75rem 1rem;
  background-color: $light-blue;
  z-index: 10;

  h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: $primary-color;
    text-align: center;
    margin: 0;
  }

  .back__btn {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $primary-color;
    font-size: 1.25rem;
    line-height: 1;

    transition: opacity 0.2s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
      outline: none;
    }

    svg {
      width: 20px;
      height: 20px;
      stroke-width: 2.5;
    }
  }
}

@include desktop {
  .header__form {
    display: none;
    }
  }