/* Styles reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Main container */
body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #222;
}

/* Main content */
main {
  flex: 1;
  padding: 2rem;
}

/* Header and footer */
header,
footer {
  background-color: #004aad;
  color: #fff;
  padding: 1rem 2rem;
}

/* Footer text */
footer {
  text-align: center;
}
