$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-wide:1440px;


// Colors
$primary-color: #3b0000;
$cta-color:#C00000;
$text-color: white;
$gradient-hero: linear-gradient(
    103deg, #87DFFF 0.62%, #699 100%);

// Fonts
$font-primary: 'DM Sans';
$font-secondary: 'Open Sans', sans-serif;

// Sizes
$base-font-size: 16px;
$heading-font-size: 2rem;