$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-wide:1440px;


// Colors
$primary-color: #3b0000;
$yellow: #fec841;
$cta-color:#C00000;
$text-color: white;
$light-blue: #87DFFF;
$beige: #FFF8DF;
$grey: #d9d9d9;
$gradient-hero: linear-gradient(
    103deg, #87DFFF 0.62%, #699 100%);
$teal: #699DB0;
$primary-desaturated: #8c6565; 

// Fonts
$font-primary: 'DM Sans';
$font-secondary: 'Open Sans', sans-serif;

// Sizes
$base-font-size: 16px;
$heading-font-size: 2rem;