$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-wide: 1440px;

// Colors
$primary-color: #3b0000;
$cta-color: #c00000;
$text-color: white;
$yellow: #fec841;
$beige: #fff8df;
$light-blue: #87dfff;
$text-secondary: #699db0;
$text-color: white;
$grey: #d9d9d9;
$gradient-hero: linear-gradient(103deg, #87dfff 0.62%, #699 100%);
$teal: #699DB0;
$primary-desaturated: #8c6565; 

// Fonts
$font-primary: "DM Sans";
$font-secondary: "Open Sans", sans-serif;

// Font Sizes
$base-font-size: 16px;
$heading-font-size: 2rem;
