@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;


.input__container {
    border-radius: 6px;
    border: 1px solid;
    outline: none;
    border-color: $primary-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 56px;
    text-align: center;
    align-items: center;
    margin: 10px 0;

    @include desktop {
        margin: 20px 0;
        height: 50px;
    }
}

.input {
    outline: none;
    border: none;
    padding: 10px 12px;
    margin: 4px;
    width: 250px;
    font-family: $font-primary;
}

.input__wrapper {
    margin-bottom: 20px;
    color: $primary-color;
        @include desktop {
        margin-bottom: 30px;

    }
}

.h2 {
    color: #3b0000;
    font-size: 1rem;
    font-weight: 700;

    @include desktop {
        font-size: 1.6rem;
    }
}