@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.quick {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    button {
      padding: 0.5rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
    }

    .add { background: $light-blue; color: $primary-color;}
    .download { background: $yellow; color: $primary-color;}
    .stats { background: $text-secondary; color: $primary-color;}
  }
