@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.page {
    max-width: 600px;
    margin: 0 auto;
    
    @include desktop {
<<<<<<< HEAD
        padding: 100px;
=======
        padding: 40px;
>>>>>>> origin/frontend/mobile_homepage
    }
}