@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.agentsSection {
  text-align: center;
  // padding: 3rem 1.5rem;
  background: $beige;
  // height: 100vh;
  padding: 80px 20px;

}

.agentsSection__title {
  font-size: 28px;
  color: $primary-color;
  font-weight: 600;
  margin-bottom: 16px;
}

.agentsSection__text {
  color: $text-secondary;
  font-size: 16px;
  margin-bottom: 2rem;
}


.agentsSection__carousel {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
