@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.agentsSection {
  text-align: center;
  // padding: 3rem 1.5rem;
  background: $beige;
  // height: 100vh;
  padding: 80px 20px;

  @include desktop {

    width: 100%;
    padding: 80px 80px 60px;
    text-align: center;

  }

}

.agentsSection__title {
  font-size: 28px;
  color: $primary-color;
  font-weight: 600;
  margin-bottom: 16px;

  @include desktop {
    font-size: 28px;
    margin-bottom: 16px;

  }
}

.agentsSection__text {
  color: $text-secondary;
  font-size: 16px;
  margin-bottom: 2rem;

  @include desktop {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;

  }
}


.agentsSection__carousel {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;

  @include desktop {
    padding: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10rem;

  }
}
