@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  gap: 40px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px;
    gap: 60px;
    width: 100%;
  }
}



.reverse {
  @include desktop {
    flex-direction: row-reverse;
  }
}

.feature__content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-align: center;
  align-items: center;

  @include desktop {
    text-align: left;
    align-items: flex-start;
  }
}

.icon__wrapper {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  svg {
    width: 32px;
    height: 32px;
  }

  @include desktop {
    display: none;
  }
}

.featuresection__title {
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 600;
  color: $primary-color;
}

.featuresection__text {
  font-size: 16px;
  line-height: 1.5;
  color: $text-secondary;
}

.featuresection__children {
  margin-top: 24px;
  width: 100%;
}

.featuresection__picture {
  display: none;

  @include desktop {
    display: block;
    width: 460px;
    max-width: 460px;
    flex-shrink: 0;
  }
}

.featuresection__image {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}
