@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins" as *;

.card {
  background: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: $primary-color;
}

.value {
  font-size: 18px;
  font-weight: 700;
  color: $primary-color;
}

.progressBar {
  width: 100%;
  height: 10px;
  background: $text-color;
  border-radius: 8px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: linear-gradient(to right, $text-color, $light-blue);
  border-radius: 8px;

  width: 0%;
}

.progress.animate {
  animation: fill 2s ease forwards;
}
@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%; // needed width
  }
}
