@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.metric__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 10px 0;
}

.label {
    color: $teal;
    margin-right: 16px;
    font-weight: 500;
    font-size: 0.8rem;
    @include desktop {
        font-size: 1.3rem;
    }
}

.select {
    border-radius: 6px;
    border: 1px solid;
    outline: none;
    border-color: $primary-color;
    color: $primary-color;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 125px;
    padding: 10px 30px;
    cursor: pointer;
    @include desktop{
        width: 198px;
    }
}
