@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins" as *;

.info {
  width: 100%;
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  text-align: center;
  margin-top: 20px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoNumber {
  font-size: 28px;
  font-weight: 600;
  color: $primary-color;
}

.infoLabel {
  font-size: 14px;
  color: $text-secondary;
  margin-top: 4px;
}
