@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.agentCard {
  display: flex;
  align-items: center;
  background: white;
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 1rem 1.2rem;
  box-shadow: 0 2px 2px rgba(105, 157, 176, 0.7);

  transition: all 0.35s ease;
  width: 96%;
  max-width: 400px;
  scroll-snap-align: center;
  color: $text-secondary;

  &:hover {
    transform: translateY(-6px) scale(1.03);
    // background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  }
}

.agentCard__picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 1rem;
  display: block;
}

.agentCard__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  display: block;

}

.agentCard__info {
  text-align: left;
}

.agentCard__name {
  font-size: 16px;
  font-weight: 600;
  color: $primary-color;
  
}

.agentCard__role {
  font-size: 16px;
  margin-bottom: 0.25rem;
  color: $text-secondary;
  font-size: 16px;
}

.agentCard__rating {
  display: flex;
  align-items: center;
  gap: 1px;
  color: $yellow;
}

.agentCard__experience {
  font-size: 12px;
  color: $text-secondary;
  margin-left: 4px;


}
