@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.agentCard {
  display: flex;
  align-items: center;
  background: white;
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 1rem 1.2rem;
  box-shadow: 0 2px 2px rgba(105, 157, 176, 0.7);

  transition: all 0.35s ease;
  width: 96%;
  max-width: 400px;
  scroll-snap-align: center;
  color: $text-secondary;

  &:hover {
    transform: translateY(-6px) scale(1.03);
    // background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  }

  @include desktop {
    flex-direction: column; // img first
    align-items: center;
    text-align: center;
    padding: 2rem;
    max-width: 380px;
    width: 100%;
    height: 100%;
    gap: 1rem;
  }
}

.agentCard__picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 1rem;
  display: block;

  @include desktop {
    margin: 0;
    width: 120px;
    height: 120px;
  }
}

.agentCard__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  display: block;
}

.agentCard__info {
  text-align: left;
  @include desktop {
    text-align: center;
  }
}

.agentCard__name {
  font-size: $base-font-size;
  font-weight: 600;
  color: $primary-color;
  @include desktop {
    font-size: 20px;
  }
}

.agentCard__role {
  font-size: $base-font-size;
  margin-bottom: 0.25rem;
  color: $text-secondary;
  @include desktop {
    color: $primary-color;
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
}

.agentCard__rating {
  display: flex;
  align-items: center;
  gap: 1px;
  color: $yellow;

  @include desktop {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: block;
  }
}

.agentCard__experience {
  font-size: 12px;
  color: $text-secondary;
  margin-left: 4px;
  @include desktop {
    display: none;
  }
}
.agentCard__extra {
  margin-top: 0.5rem;
  font-size: 14px;
  color: $text-secondary;
  line-height: 1.5;

  @include desktop {
    font-size: $base-font-size;
    line-height: 1.6;
  }
}
