@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.stepper__navigation{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 20px 0;

}

.hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0 auto;
}