@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.dashboard {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 2rem;
  background: $beige;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.statsSection {
  width: 100%;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.contentSection {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  
  @media (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  > * {
    height: fit-content;
  }
}

.clientsSection {
  width: 100%;
}
