@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;


.search__container {
    border-radius: 6px;
    border: 1px solid;
    outline: none;
    border-color: $primary-color;
    width: 350px;
}

.input {
    outline: none;
    border-color: none;
}

.search__icon {
    color: $primary-color;
}