@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;


.search__container {
    border-radius: 6px;
    border: 1px solid;
    outline: none;
    border-color: $primary-color;
    width: 165px;
    display: flex;
    flex-direction: row;
    gap: 56px;
    text-align: center;
    align-items: center;
    margin: 20px 0px;

    @include desktop {
        margin: 40px 0px;
        height: 60px;
        width: 40%;
    }
}

.input {
    outline: none;
    border: none;
    padding: 10px 12px;
    margin: 4px;
    width: 100%;
    font-family: $font-primary;
}

.search__icon {
    color: $primary-color;
    margin-right: 20px;

    @include desktop {
        margin-left: auto;
    }
}