@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.step__counter{
    color: rgb(42, 42, 42);
    font-size: 10px;
    margin-left: 20px;
}

@include desktop {
    .step__counter{
        display: none;
    }
}