@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.testimonialSection {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  text-align: center;
  background: white;
}

.testimonialSection__title {
  font-size: 28px;
  color: $primary-color;
  font-weight: 600;
  margin-bottom: 16px;
}

.testimonialSection__text {
  color: $text-secondary;
  font-size: 16px;
  
}

.testimonialSection__infoBlock {
  width: 100%;
  background-color: white;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  text-align: center;
}

/* Carousel */
.testimonialSection__carousel {
  height: 300px;
  overflow-y: auto;


  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;


  &::-webkit-scrollbar {
    display: none;
  }
}
.testimonialSection__item:last-child {
  margin-bottom: 0;
}

/* Each card  */
.testimonialSection__item {
    scroll-snap-align: center;
    width: 100%;
    max-width: 520px;
    margin: 1rem 0;

    transform: scale(0.92);
    transition: all 0.35s ease;

    &:focus-within,
    &:target,
    &:hover {

      transform: scale(1);
    }
  }
